CREATE DATABASE IF NOT EXISTS resume;
CREATE DATABASE IF NOT EXISTS storytime;

CREATE USER 'user_resume'@'%' IDENTIFIED BY '${DB_PASSWORD}';
GRANT ALL PRIVILEGES ON resume.* TO 'user_resume'@'%';

CREATE USER 'user_storytime'@'%' IDENTIFIED BY '${DB_PASSWORD}';
GRANT ALL PRIVILEGES ON storytime.* TO 'user_storytime'@'%';

FLUSH PRIVILEGES;